{% extends "djstripe/base.html" %}
{% load static djstripe_tags %}

{% block title %}Pay{% endblock title %}

{% block content %}
    {% if message and not error %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% elif error %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endif %}
    <form action="." method="post">{% csrf_token %}
    <input type="text" placeholder="Enter the amount you want to pay" size="34" pattern="\d*" autocomplete="off" name="amount">
    <input type="submit" class="btn btn-danger" name="Submit">
    </form>

{% endblock %}
