{% extends "djstripe/base.html" %}
{% load static djstripe_tags %}

{% block title %}Choose a Subscription{% endblock title %}

{% block content %}

{{ block.super}}
{% for plan in plans %}
<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
    <!-- PRICE ITEM -->
    <div class="panel price panel-green">
        <div class="panel-heading  text-center">
            <h3>{{ plan.name }}</h3>
        </div>
        <div class="panel-body text-center">
            <p class="lead" style="font-size:40px"><strong>{{ plan.amount }} / {{ plan.interval }}</strong></p>
        </div>
        <ul class="list-group list-group-flush text-center">
            {% if plan.trial_period_days %}
            <li class="list-group-item"><i class="icon-ok text-danger"></i> Trial Period {{ plan.trial_period_days }} days</li>
            {% endif %}
        </ul>
        <div class="panel-footer">
            <form
              {% if not customer.current_subscription or customer.current_subscription.status == CurrentSubscription.STATUS_CANCELLED %}
                  action="{% url 'djstripe:subscribe' %}" class="djstripe-subscribe"
                  data-key="{{ STRIPE_PUBLIC_KEY }}"
                  data-amount="{{ plan.amount }}"
                  data-name="{{ plan.name }}"
              {% else %}
                  data-stripe-key="{{ STRIPE_PUBLIC_KEY }}"
                  action="{% url 'djstripe:change_plan' %}" class="djstripe-change-plan"
              {% endif %}
            method="POST">{% csrf_token %}
                <input type="hidden" name="plan" value="{{ plan.stripe_id }}" />
                <input name="stripe_token" type="hidden" />
                        {% if message %}
                        {% else %}
                            <!-- disable this when clicked -->
              {% if not customer.current_subscription or customer.current_subscription.status == CurrentSubscription.STATUS_CANCELLED %}
                                <!-- do nothing -->
                                <button class="btn btn-lg btn-block btn-success" type="submit">Subscribe</button>
              {% elif customer.current_subscription.plan == plan.interval and customer.current_subscription.amount == plan.amount %}
                                <button class="btn btn-lg btn-block btn-success" type="submit">Select as default</button>
              {% elif customer.current_subscription.amount < plan.amount %}
                                <a class="btn btn-lg btn-block btn-danger" href="{% url 'djstripe:cancel_subscription' %}" class="btn btn-danger pull-right">Unsubscribe</a>
              {% elif customer.current_subscription.amount > plan.amount %}
                                <button class="btn btn-lg btn-block btn-success" type="submit">Select as default</button>
                            {% endif %}
                        {% endif %}
            </form>
        </div>
    </div>
    <!-- /PRICE ITEM -->
</div>
{% endfor %}
{% endblock content %}

{% block javascript %}
{{ block.super }}

<script src="https://checkout.stripe.com/v2/checkout.js"></script>
<script text="text/javascript">
    $(function() {

        $('body').on("click", '.djstripe-subscribe button[type=submit]', function(e) {
          e.preventDefault();
          // retrieve current $(".djstripe-subscribe")
          var $form = $(e.target).parents('form'),
              token = function(res) {
                $form.find("input[name=stripe_token]").val(res.id);
                $("button[type=submit]").attr("disabled", "true");
                $('#in-progress').modal({"keyboard": false})
                $('.progress-bar').animate({width:'+=100%'}, 2000);
                $form.trigger("submit");
              };
          StripeCheckout.open({
            key:         "{{ STRIPE_PUBLIC_KEY }}",
            name:        'Subscribe',
            panelLabel:  'Subscribe',
            token:       token,
            email: '{{ request.user.email }}'
          });
          return false;
        });
        {% if plans|length > 1 %}
          $('.djstripe-change-plan').click(function(e){
              $("button[type=submit]").attr("disabled", "true");
              $('#in-progress').modal({"keyboard": false})
              $('.progress-bar').animate({width:'+=100%'}, 2000);
              var $form = $(this);
              $form.trigger("submit");
          });
        {% endif %}
    });
</script>


{% endblock javascript %}
